body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

button {
  font-family: "Poppins", sans-serif;
}

img {
  height: 100vh;
}

.main-text {
  overflow: hidden;
  max-width: 100ch;
}
